
    <div class="container bg-white pt-2">
      <div class="row">
          <div class="col-md-12 text-center">
            <img src="/imgs/404.jpg" alt="Không tìm thấy" class="w-50" />
            <h3>{{errorMessage}}</h3>
          </div>
      </div>
    </div>
