.cut-string {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
}

div.img-holder {
    width: 30px;
    height: 30px;
    border: 1px solid;
    border-radius: 3px;
    position: relative;
}
div.img-holder > img {
    height: 200px;
    width: auto;
    position: absolute;
    top: 32px;
    left: 32px;
    z-index: 100;
    display: none;
}

div.img-holder:hover > img {
    display: block;
}